/* Design Tokens: */
@import "tokens/borders.module.scss";
@import "tokens/colors.module.scss";
@import "tokens/fonts.module.scss";
@import "tokens/screens.module.scss";
@import "tokens/sizes.module.scss";

html {
  @apply antialiased;
}

body {
  @apply font-sans;
  @apply bg-white;
  @apply text-gray-950;
}

.-top {
  top: -0.8rem;
}

main {
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > section {
      flex: 1;
    }
  }
}

.site-content--wide-content {
  .navbar,
  .page-header__group {
    @apply max-w-screen-xl;
  }
}

@import "mixins.module.scss";
@import "markdown.module.scss";
@import "text.module.scss";
@import "blocks.module.scss";
@import "accordion.module.scss";
@import "accessibility.module.scss";
@import "custom_counter.module.scss";
@import "forms.module.scss";
@import "lists.module.scss";
@import "tables.module.scss";
@import "homepage.module.scss";
@import "print.module.scss";
@import "vendor/ag_grid.module.scss";
/* ***********/
/* Additional stylesheets are contained within individual component folders */
/* ***********/
