.footer-row__section {
  @apply px-2;
  @apply text-left;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  max-width: none;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}
