footer.site-footer {
  @apply text-gray-500;
  @apply w-full;
  @apply bg-gray-800;
  @apply text-left;

  display: flex;
  flex-direction: column;

  img {
    @apply inline;
    opacity: 1;
  }

  a {
    @apply text-white;
  }

  p {
    @apply mb-5;
  }

  & > .footer-row:first-of-type {
    @apply py-12;
  }

  & > .footer-row:last-of-type {
    @apply py-8;
    @apply pr-12;
  }

  .footer-row {
    @apply pl-12;

    @media (max-width: $screen-md) {
      @apply px-8;
    }
  }
}
