footer.site-footer {
  @apply text-gray-500;
  @apply w-full;
  @apply bg-gray-800;
  @apply text-left;

  display: flex;
  flex-direction: column;

  img {
    @apply inline;
    opacity: 1;
  }

  a {
    @apply text-white;
  }

  p {
    @apply mb-5;
  }

  & > .footer-row:first-of-type {
    @apply pt-12;
    @apply pb-12;
  }

  & > .footer-row:last-of-type {
    @apply pt-8;
    @apply pb-8;
    padding-right: 3rem;
    padding-left: 3rem;

    @media (max-width: $screen-md) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .footer-row {
    padding-left: 3rem;

    @media (max-width: $screen-md) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}
