.listings-combined {
  display: flex;
  align-items: stretch;
  height: var(--listings-component-height);
  flex-direction: column;

  @media (max-width: $screen-md) {
    position: relative;
    display: block;
  }

  .listings-map {
    flex: 1;
    position: relative;
    display: flex;
    @media (max-width: $screen-md) {
      position: absolute;
      z-index: 0;
      height: var(--listings-component-height);
      width: 100%;
    }
  }

  .listings-map-list-container {
    display: flex;
    max-height: calc(100vh - 240px);
  }

  .listings-map-skip-link {
    @apply sr-only;

    &:focus {
      @apply not-sr-only;
      position: absolute;
      z-index: 20;
      padding: var(--bloom-s2) var(--bloom-s4);
      text-decoration: underline;
      font-size: var(--bloom-font-size-base);
      color: var(--bloom-color-primary);
      background-color: var(--bloom-color-white);
    }
  }

  .listings-map-expanded {
    background-color: var(--seeds-color-white);
    display: none;

    @media (max-width: $screen-md) {
      position: relative;
      display: block;
      z-index: 0;
      width: 100%;
      overflow-y: auto;
      height: 100%;
    }
  }

  .listings-list {
    overflow-y: auto;
    width: 100%;
    display: block;

    @media (max-width: $screen-md) {
      display: block;
      padding-top: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-list-expanded {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: relative;
      z-index: 1;
      height: calc(var(--listings-component-height));
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-outer-container {
    overflow-y: auto;
    width: var(--listings-list-width);
    @media (max-width: $screen-lg) {
      width: 55%;
    }

    // @media (max-width: $screen-md) {
    //   position: absolute;
    //   z-index: 1;
    //   top: var(--listings-component-half-height);
    //   height: var(--listings-component-half-height);
    //   width: 100%;
    //   overflow-y: hidden;
    //   border-top-left-radius: var(--bloom-rounded-3xl);
    //   border-top-right-radius: var(--bloom-rounded-3xl);
    // }
  }
}

.listings-list-wrapper {
  --padding: var(--seeds-s10);

  /* These attribute selectors are strange, but that's because we want to short-circuit the
     CSS module renaming and use these exact class names */
  [class*="loading-overlay"]::before {
    background-color: white;
  }

  [class*="loading-overlay__spinner"] {
    color: var(--seeds-color-gray-400) !important;
  }
}
