.listings-combined {
  display: flex;
  align-items: stretch;
  height: var(--listings-component-height);
  flex-direction: column;

  @media (max-width: $screen-md) {
    position: relative;
    display: block;
  }

  .listings-map {
    flex: 1;
    position: relative;
    display: flex;
    @media (max-width: $screen-md) {
      position: absolute;
      z-index: 0;
      height: var(--listings-component-height);
      width: 100%;
    }
  }

  .listings-map-list-container {
    --heading-offset: 240px;
    display: flex;
    max-height: calc(100vh - var(--heading-offset));
  }

  .listings-map-skip-link {
    @apply sr-only;

    &:focus {
      @apply not-sr-only;
      position: absolute;
      z-index: 20;
      padding: var(--bloom-s2) var(--bloom-s4);
      text-decoration: underline;
      font-size: var(--bloom-font-size-base);
      color: var(--bloom-color-primary);
      background-color: var(--bloom-color-white);
    }
  }

  .listings-map-expanded {
    background-color: var(--seeds-color-white);
    display: none;

    @media (max-width: $screen-md) {
      position: relative;
      display: block;
      z-index: 0;
      width: 100%;
      overflow-y: auto;
      height: 100%;
    }
  }

  .listings-list {
    overflow-y: auto;
    width: 100%;
    display: block;

    @media (max-width: $screen-md) {
      display: block;
      padding-top: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-list-expanded {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: relative;
      z-index: 1;
      height: calc(var(--listings-component-height));
      overflow-y: auto;
      background-color: var(--background-color);
    }
  }

  .listings-outer-container {
    overflow-y: auto;
    width: var(--listings-list-width);
    @media (max-width: $screen-lg) {
      width: 55%;
    }
  }
}

.listings-list-wrapper {
  --padding: var(--seeds-s10);

  /* These attribute selectors are strange, but that's because we want to short-circuit the
     CSS module renaming and use these exact class names */
  [class*="loading-overlay"]::before {
    background-color: white;
  }

  [class*="loading-overlay__spinner"] {
    color: var(--seeds-color-gray-400) !important;
  }
}

.cluster-icon {
  font-weight: var(--seeds-font-weight-semibold);
  font-family: var(--seeds-font-sans);
  font-size: var(--seeds-font-size-base);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077da;
  color: white;
  width: var(--seeds-s8);
  height: var(--seeds-s8);
  @media (min-width: $screen-md) {
    min-width: var(--seeds-s8);
    height: var(--seeds-s8);
  }
  padding: 0rem var(--seeds-s1_5);
  margin-right: var(--seeds-s1_5);
  border-radius: 50%;
}
